ul {
    margin-top: 0em;
    margin-bottom: 0em;
}

body {
    overflow-y: scroll;
    display: table;
    border-collapse: collapse;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 0.5em;
    border-style: solid none;
    border-width: 1px;
}

.row:first-child .cell {
    border-top: none;
}

.row:last-child .cell {
    border-bottom: none;
}

.cell:first-child {
    width: 1%;
}

#select-player {
    
}

#info-box {
    
}

#select-abilities {
    
}

#class-list {
    background: rgb(223, 223, 223);
    border-collapse: collapse;
}

#class-name {
    font-variant: small-caps;
    font-size: 200%;
}

#class-list tbody tr:first-child > td {
    border-bottom: 1px solid rgb(143, 143, 143);
}

#class-list tbody tr:not(:first-child) > td {
    border-bottom: 1px solid rgb(191, 191, 191);
}

#class-list tbody {
    border-bottom: 1px solid rgb(191, 191, 191);
}

/* Name */
#class-list tr > :nth-child(1) {
    min-width: 13em;
}
/* Cost */
#class-list tr > :nth-child(2) {
    min-min-width: 3em;
    text-align: center;
}

/* Max */
#class-list tr > :nth-child(3) {
    min-width: 3em;
    text-align: center;
}

/* Frequency */
#class-list tr > :nth-child(4) {
    min-width: 9em;
}

/* Type */
#class-list tr > :nth-child(5) {
    min-width: 7em;
}

/* School */
#class-list tr > :nth-child(6) {
    min-width: 5em;
}

/* Range */
#class-list tr > :nth-child(7) {
    min-width: 6em;
}

/* Rem/Count/Add */
#class-list tr > :nth-child(8) {
    min-width: 6em;
    text-align: center;
}

/* Exp */
#class-list tr > :nth-child(9) {
    min-width: 3em;
    text-align: center;
}

#ability-info {
    position: fixed;
    padding-right: 14em;
}

#status-box {
    
}